# fly.toml app configuration file generated for avalia-backend on 2026-02-02T13:46:10Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'avalia-backend'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = "10s"
    timeout  = "2s"
    grace_period = "10s"
    method = "GET"
    path = "/health"
    
[env]
  PORT = "8000"
  HOST = "0.0.0.0"
